#main {
  padding-top: 30px;
  padding-bottom: 60px;
}

#main .main_zc {
  font-size: 12px;
}

#main .main_zc .zc1 img {
  width: 24px;
}

#main .main_zc .zc1 span {
  margin-left: 10px;
}

#main .main_zc .zc2 span {
  margin-left: 10px;
}

#main h1 {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

#main .bz {
  padding: 50px;
  height: 30px;
  margin-bottom: 60px;
  text-align: center;
}

#main .bz li {
  float: left;
  width: 200px;
  border-bottom: 3px solid red;
  margin-left: 90px;
}

#main .bz li img {
  width: 40px;
}

#main .reg {
  width: 600px;
  border: 1px solid #ccc;
  height: 200px;
  position: relative;
  top: 0px;
  left: 210px;
}

#main .reg input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
}

#main .reg .reg1 {
  position: absolute;
  top: 20px;
  left: 50px;
}

#main .reg .reg1 span {
  padding-left: 55px;
  color: red;
}

#main .reg .reg2 {
  position: absolute;
  top: 80px;
  left: 65px;
}

#main .reg .reg2 span {
  padding-left: 40px;
}

#main .reg .reg3 {
  position: absolute;
  top: 144px;
  left: 48px;
}

#main .reg .reg3 input {
  width: 118px;
  height: 30px;
  border: 1px solid #ccc;
}

#main .reg .reg3 .reg3_y {
  display: block;
  background-color: #f7f9fd;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: 180px;
}

#main .reg a {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  position: absolute;
  top: 30px;
  right: 60px;
  text-align: center;
  line-height: 100px;
  background-color: #f11d13;
  color: #fff;
  border-radius: 15px 5px 25px 0px;
}
